<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<link rel="stylesheet" href="css/w3.css" />
<link rel="stylesheet" href="css/title.css" />
<link rel="stylesheet" href="css/menu.css" />
<link rel="stylesheet" href="css/form.css" />


<head>
<title>Game List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption !== ''){
                    window.location.replace('locale?lang=' + selectedOption);
                }
            });
        });
    </script>
</head>

<body>
	<ul>
		<li sec:authorize="hasAuthority('ADMIN')"><a href="/newgame" th:text="#{newg}">New Game</a></li>
		<li sec:authorize="hasAuthority('ADMIN')"><a href="/newseries" th:text="#{news}">New Series</a></li>
		<li sec:authorize="hasAuthority('ADMIN')"><a href="/newconsole" th:text="#{newc}">New Console</a></li>
		<li><a href="/gamelist" th:text="#{glist}">Game List</a></li>
		<li><a href="/serieslist" th:text="#{slist}">Series List</a></li>
		<li><a href="/consolelist" th:text="#{clist}">Console List</a></li>
		<li class="right">
			<form action="/login" method="post" sec:authorize="isAnonymous()">
				<input type="submit" value="Sign In" class="logbutton" th:value="#{signin}"/>
			</form>
			
			<form th:action="@{/logout}" method="post" sec:authorize="hasAuthority('ADMIN')">
				<input type="submit" value="Sign Out" class="logbutton" th:value="#{signout}"/>
			</form>
		</li>
		<li class="right"><a href="/changelang" th:text="#{lang.change}">Console List</a></li>
	</ul>

<div class="container">
	<h1 th:text="#{lang.change}">Change language</h1>

		<select id="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.en}"></option>
		    <option value="fi" th:text="#{lang.fi}"></option>
		    <option value="jp" th:text="#{lang.jp}"></option>
		</select>
        
</div>

</body>
</html>