<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<link rel="stylesheet" href="/css/w3.css">
<link rel="stylesheet" href="/css/title.css" />
<link rel="stylesheet" href="/css/menu.css" />

<head>
<title>Series List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<ul>
		<li sec:authorize="hasAuthority('ADMIN')"><a href="/newgame" th:text="#{newg}">New Game</a></li>
		<li sec:authorize="hasAuthority('ADMIN')"><a href="/newseries" th:text="#{news}">New Series</a></li>
		<li sec:authorize="hasAuthority('ADMIN')"><a href="/newconsole" th:text="#{newc}">New Console</a></li>
		<li><a href="/gamelist" th:text="#{glist}">Game List</a></li>
		<li><a href="/serieslist" th:text="#{slist}">Series List</a></li>
		<li><a href="/consolelist" th:text="#{clist}">Console List</a></li>
		<li class="right">
			<form action="/login" method="post" sec:authorize="isAnonymous()">
				<input type="submit" value="Sign In" class="logbutton" th:value="#{signin}"/>
			</form>
			
			<form th:action="@{/logout}" method="post" sec:authorize="hasAuthority('ADMIN')">
				<input type="submit" value="Sign Out" class="logbutton" th:value="#{signout}"/>
			</form>
		</li>
		<li class="right"><a href="/changelang" th:text="#{lang.change}">Console List</a></li>
	</ul>
	
	<h1 th:text="${console.consolename}">Console</h1>	
	<p class="subtitle" sec:authorize="isAuthenticated()" th:text="#{signedintext}">Signed in as</p>
	<p class="subtitle" sec:authorize="isAuthenticated()" >[[${#httpServletRequest.remoteUser}]]</p>
	
	<div class="w3-container">
	<table class="w3-table-all w3-card-4">
		<tr>
			<th th:text="#{name}">Name</th>
			<th th:text="#{year}">Year</th>
		</tr>

		<tr th:each="game : ${games}">
			<td th:text="${game.gametitle}">Name</td>
			<td th:text="${game.gameyear}">Year</td>
		</tr>
	</table>
	
</div>
</body>
</html>