<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link type="text/css" href="css/title.css" rel="stylesheet"/>
<link type="text/css" href="css/menu.css" rel="stylesheet"/>

<head>
<title>Console List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<ul>
		<li sec:authorize="hasAuthority('ADMIN')"><a href="/newgame">New Game</a></li>
		<li sec:authorize="hasAuthority('ADMIN')"><a href="/newseries">New Series</a></li>
		<li sec:authorize="hasAuthority('ADMIN')"><a href="/newconsole">New Console</a></li>
		<li><a href="/gamelist">Game List</a></li>
		<li><a href="/serieslist">Series List</a></li>
		<li><a href="/consolelist">Console List</a></li>
		<li class="right">
			
			<form action="/login" method="post" sec:authorize="isAnonymous()">
				<input type="submit" value="Sign In" class="logbutton"/>
			</form>
			
			<form th:action="@{/logout}" method="post" sec:authorize="hasAuthority('ADMIN')">
				<input type="submit" value="Sign Out" class="logbutton"/>
			</form>
		</li>
	</ul>
	
	<h1>Consoles</h1>
	<p class="subtitle" sec:authorize="isAuthenticated()">Signed in as [[${#httpServletRequest.remoteUser}]]</p>
	
		 	<div th:if="${param.error}" class="subtitle">
            <font color="red">Invalid username and/or password</font><br/><br/>
        </div>
	
	<div class="w3-container">
	<table class="w3-table-all w3-card-4">
		<tr>
			<th>Name</th>
			<th>Publisher</th>
			<th>Games</th>
			<th sec:authorize="hasAuthority('ADMIN')"></th>
			<th sec:authorize="hasAuthority('ADMIN')"></th>
		</tr>

		<tr th:each="console : ${consoles}">
			<td th:text="${console.consolename}">Name</td>
			<td th:text="${console.consolepublisher}">Publisher</td>
            <td th:text="${console.gamecount}">#0</td>
 			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/editconsole/{id}(id=${console.consoleid})}">Edit</a></td>  
 			<td sec:authorize="hasAuthority('ADMIN')" th:if="${console.gamecount == 0}"><a th:href="@{/deleteconsole/{id}(id=${console.consoleid})}">Delete</a></td>
 			<td sec:authorize="hasAuthority('ADMIN')" th:unless="${console.gamecount == 0}" class="forbidden">Delete</td> 
		</tr>
	</table>
</div>
</body>
</html>