<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<link rel="stylesheet" href="../css/form.css" />
<link rel="stylesheet" href="../css/w3.css" />
<link rel="stylesheet" href="../css/title.css" />
<link rel="stylesheet" href="../css/menu.css" />
<head>
    <title>Console Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<ul>
		<li sec:authorize="hasAuthority('ADMIN')"><a href="/newgame" th:text="#{newg}">New Game</a></li>
		<li sec:authorize="hasAuthority('ADMIN')"><a href="/newseries" th:text="#{news}">New Series</a></li>
		<li sec:authorize="hasAuthority('ADMIN')"><a href="/newconsole" th:text="#{newc}">New Console</a></li>
		<li><a href="/gamelist" th:text="#{glist}">Game List</a></li>
		<li><a href="/serieslist" th:text="#{slist}">Series List</a></li>
		<li><a href="/consolelist" th:text="#{clist}">Console List</a></li>
		<li class="right">
			<form action="/login" method="post" sec:authorize="isAnonymous()">
				<input type="submit" value="Sign In" class="logbutton" th:value="#{signin}"/>
			</form>
			
			<form th:action="@{/logout}" method="post" sec:authorize="hasAuthority('ADMIN')">
				<input type="submit" value="Sign Out" class="logbutton" th:value="#{signout}"/>
			</form>
		</li>
		<li class="right"><a href="/changelang" th:text="#{lang.change}">Console List</a></li>
	</ul>
		
<div class="container">
	<h1>Edit Console</h1>
	<form th:object="${editconsole}" th:action="@{/saveconsole}" action="#" method="post">
		<input type="hidden" th:field="${editconsole.consoleid}" />
	
	    <div class="row">
	    <div class="col-25">
			<label for="name">Name:</label>
		</div>
		
      	<div class="col-75">
			<input type="text" th:field="*{consolename}" />
		</div>
	</div>
	
		<div class="row">
	    <div class="col-25">
			<label for="publisher">Publisher:</label>
		</div>
		
      	<div class="col-75">
			<input type="text" th:field="*{consolepublisher}" />
		</div>
	</div>
	<br/>
	<div class="center">
		<input type="submit" value="Save" class="w3-button w3-black w3-round-large"/> 
		<input type="reset" value="Reset" class="w3-button w3-black w3-round-large"/>
	</div>
	</form>
</div>
    
</body>
</html>