<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Console Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add Console</h1>
	<form th:object="${console}" th:action="@{/saveconsole}" action="#" method="post">
	<p>Name: <input type="text" th:field="${console.consolename}" /></p>
	<p>Publisher: <input type="text" th:field="${console.consolepublisher}" /></p>
	<input type="submit" value="Save" /> <input type="reset" value="Reset" />
	</form>
	<br/><br/>
	<a href="/gamelist">Homepage</a>
    
</body>
</html>