<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<head>
<title>Game List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Games</h1>
	<div class="w3-container">
	<table class="w3-table-all w3-card-4">
		<tr>
			<th>Series</th>
			<th>Title</th>
			<th>Publisher</th>
			<th>Year</th>
			<th>Console</th>
			<th></th>
			<th></th>
		</tr>

		<tr th:each="game : ${games}">
			<td th:text="${game.series.seriesname}">Series</td>
			<td th:text="${game.gametitle}">Title</td>
			<td th:text="${game.gamepublisher}">Publisher</td>
			<td th:text="${game.gameyear}">Year</td>
			<td th:text="${game.console.consolename}">Console</td>
 			<td>edit</td> 
 			<td><a th:href="@{/delete/{id}(id=${game.gameid})}">Delete</a></td> 
		</tr>
	</table>
	<br/>
	<a href="/newgame">New Game</a><br/>
	<a href="/newseries">New Series</a><br/>
	<a href="/newconsole">New Console</a><br/>
</div>
</body>
</html>