<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Series Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add Series</h1>
	<form th:object="${series}" th:action="@{/saveseries}" action="#" method="post">
	<p>Name: <input type="text" th:field="${series.seriesname}" /></p>
	<input type="submit" value="Save" /> <input type="reset" value="Reset" />
	</form>
	<br/><br/>
	<a href="/gamelist">Homepage</a>
    
</body>
</html>