<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="css/title.css" />
<link rel="stylesheet" href="css/menu.css" />

<head>
<title>Series List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<ul>
		<li><a href="/newgame">New Game</a></li>
		<li><a href="/newseries">New Series</a></li>
		<li><a href="/newconsole">New Console</a></li>
		<li><a href="/gamelist">Game List</a></li>
		<li><a href="/serieslist">Series List</a></li>
		<li><a href="/consolelist">Console List</a></li>
		<li class="right"><a th:href="@{/logout}">Log Out</a></li>
	</ul>
	
	<h1>Series</h1>	
	<p class="subtitle">Signed in as -</p>
	
	<div class="w3-container">
	<table class="w3-table-all w3-card-4">
		<tr>
			<th>Name</th>
			<th>Developer</th>
			<th>Games</th>
			<th></th>
			<th></th>
		</tr>

		<tr th:each="series : ${serieses}">
			<td th:text="${series.seriesname}">Name</td>
			<td th:text="${series.seriesdeveloper}">Developer</td>
			<td>0</td>
 			<td>edit</td> 
 			<td>delete</td> 
		</tr>
	</table>
</div>
</body>
</html>